node_modules/
/backend/assets/*
!/backend/assets/.gitkeep
/backend/assets/images/*
!/backend/assets/images/.gitkeep
/backend/assets/documents/*
!/backend/assets/documents/.gitkeep
/backend/assets/videos/*
!/backend/assets/videos/.gitkeep
*.log
.env
*.txt
/backend/assets/uploads
dist/
start_api_server.bat
logfiles/